@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap');
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    background-color: #F3F5FC;
    font-family: "inter", sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 32px;
}


/*CAJA GENERAL*/
.container{
    /*aseguramos que todo quede centrado*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    height: 86vh;
    position: relative; /*relative*******/
    background: #F3F5FC;
    /*explicacion position*/
    /*https://www.youtube.com/watch?v=lSfKpltbvJs&t=325s*/
    /*posicionar un texto dentro de una caja*/
            
}
/*CAJA LOGO*/
header{
    display: flex;
    justify-content: center;
    position: absolute;
    /*align-items: center;*/
    top: 4%;
    width: 6%;
    height: 10%;
    left: 7%;
    /*background-color: red;*/
}
/*IMAGEN LOGO*/
.caja-logo .logo{
    position: absolute;
    width: 70%;
    height: 75%;
    top: 9%;
    padding: 0%;
        
}


/*ESCRIBE EL TEXTO*/
.texto{
    position: absolute;
    width: 39%;
    height: 63%;
    left: 11%;
    top: 14%;
    cursor: pointer;
    color: #495057;
    border: none;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    background-color: #F3F5FC;
    /*background-color: #0909dc;*/
    
}

.texto::placeholder{
    color: #0A3871;
}
/*sin borde y con linea titilando*/
.texto:focus, 
.texto:active{
    outline: none;
    border: none;
   
}
/*caja del admiracion y texto*/
.informacion {
    /*background: red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute; /*se posiciona*/
    padding: 0px;
    top: 85%;
    left: 11%;
    font-family: "inter", sans-serif;
    font-size: 20px;
    color: #495057;
    gap: 5px;
    width: 39%; 
                                                                                                                                                                                                  
}

.informacion, p{
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #495057;
}

.botones{
    /*background: pink;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*align-items: self-start;*/
    padding: 1% 0;
    position: absolute;
    width: 86%;
    left: 11%;
    top: 92%;
}

.btn-encriptar{
    height: 55px;
    font-family: "inte", sans-serif;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 21%; /*ancho*/
    text-align: center;
    background-color: #0A3371;
    padding: 1%; /*espacioninterno*/
    color: #FFF;
    border: 1px solid #FFF;
    align-items: center;
    line-height: 19px; /*ancho de linea*/
       
}

.btn-desencriptar{
    height: 55px;
    font-family: "inte", sans-serif;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 21%;
    text-align: center;
    background-color: #D8DFE8;
    padding: 1%;
    color: #0A3371;
    border: 1px solid #0A3871;
    line-height: 19px; /*ancho de linea*/
    
}
.btn-logout{   
    height: 55px;
    font-family: "inte", sans-serif;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 21%;
    text-align: center;
    background-color: #0A3371;
    padding: 2%;
    color: #FFF;
    border: 1px solid #FFF;
    line-height: 19px;
}
/*HOVER BTN*/

.btn-encriptar:hover,
.btn-logout:hover
{
    background: #2508df;
    
}

.btn-desencriptar:hover
{
    background: #2508df;
    color: #FFF;
}

/*caja encriptado*/
.encriptado{
    
    display: flex;
    justify-content: center;
    position: absolute;
    width: 39%; /*ancho de la caja*/
    height: 69%;
    left: 54%;
    top: 11%;/*alto y abajo a un*/
    box-shadow: 0px 20px 30px -5px rgb(0, 0, 0, 0.8);/*sombra, transparencia*/
    border-radius: 32px;
}


/*DIMENSIONNDO LA IMAGEN MUÑECO*/
.encriptado img{
    position: absolute;
    width: 80%;
    height: 61%;
    top: 5%;
}
/*MENSAJE*/
.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    position: absolute;
    height: 45%; /*alto caja mensaje*/
    top: 50%;
}
.mensaje-encriptado h2{
    /*background-color: green;*/
    width: 72%;
    font-family: "inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #0A3871;
    margin-top: 25px;
}
.mensaje-encriptado p{
    /*background-color: #0909dc;*/
    width: 80%;
    font-family: "inter", sans-serif;
    /*font-style: normal;*/
    font-weight: 400;
    font-size: 20px;
    /*line-height: 140%; *//*parrafo baja*/
    text-align: center;
    color: #0A3871;
    margin-top: 20px;
}

footer{
    color: #0909dc;
    text-align: center;
    font-family: "inter", sans-serif;
    font-size: 12px;
    margin-top: 3%;
}

/*--------------RESPONSIVE---------------------*/
/* - - - - - - - - - - - - - - - - - - - - - */

@media (min-width:1025px) and (max-width: 1200px) {
    .encriptado{
        width: 43%;
        /*background-color: #2508df;*/}
        .informacion{
            margin-top: 4%;
        }
        .botones{
            margin-top: 4%;
        }
        footer{
            margin-top: 7%;
        }

}


@media (min-width:769px) and (max-width: 1024px) {
    .encriptado{
        width: 40%;
        /*background-color: #2508df;*/}
        .informacion{
            margin-top: 3%;
        }
        .botones{
            margin-top: 2%;
        }
        footer{
            margin-top: 6%;
        }
    }



/*si el tamaño es menor*/
@media (min-width:481px) and (max-width: 768px)  {
    header{
        /*background-color: green;*/
        width: 5%;
        height: 6%;
        left: 5%;

    }
    .texto{
        font-size: 24px;
        background-color: #F3F5FC;
        height: 70%;
        width: 40%;
        padding: 1%;
        /*background-color: #0909dc;*/
        
    }
    .informacion{
        margin-top: 5%;
        /*background-color: aqua;*/
        width: 80%;
    }

    .botones{
        justify-content: space-around;
        padding: 1% 0;
        width: 85%;
        left: 11%;
        top: 98%;   
    }
    .btn-encriptar{
        height: 50px;
        font-size: 14px;
        width: 21%;
    }
    .btn-desencriptar{
        height: 50px;
        font-size: 14px;
        width: 21%;    
    }
    .btn-logout{

        height: 50px;
        font-size: 14px;
        width: 21%;
    }
    .encriptado{
        height: 75%;
        font-family: "inte", sans-serif;
        line-height: 19px; /*ancho de linea*/
        width: 43%  
    }

    .encriptado img{
        height: 38%;
        top: 1%;
        width: 80%;
    }
    .mensaje-encriptado{  
        height: 45%; /*alto caja mensaje*/
        top: 37%;
        gap: 10%;
    }
    footer{
        margin-top: 11%;
    }
}
    /*-------------------------------------*/

    @media (min-device-width: 320px) and (max-device-width: 480px) {
        header{
            width: 3%;
            height: 4%;
            left: 2%;
            /*background-color: purple;*/
        }

        .texto{
            height: 50%;
            /*background-color: aqua;*/
            height: 70%;
            width: 40%;
            font-size: 20px;
            padding: 1%;
        }
        .informacion{
            margin-top: 7%;
            /*background-color: #0909dc;*/
            width: 89%;
        }
        .botones{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 8%;
            width: 94%;
            /*background-color: aqua;*/
            margin-left: -4% ;
            padding: 1%;
        }
        .btn-encriptar{
            width: 30%;

        }

        .btn-desencriptar{
            width: 30%; 
        }

        .btn-logout{
            width: 30%;
        }
        .encriptado{
            height: 73%;
            margin-top: 1.5%;
            width: 43%;
        }
        .encriptado img{
            height: 42%;
            margin-top: 9%;
            width: 89%;
        }
        .mensaje-encriptado h2{
            font-size: 16px;
            margin-top: 2%;
        }
        .mensaje-encriptado p{
            font-size: 16px;
            margin-top: 20px;
        }
        footer{
            margin-top: 15%;

        }
        

    }