
/* GIOA WHOOSH
https://blog.hubspot.com/website/css-animation-examples*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/****************************/

body{
    display: flex;
	flex-direction: row;
    justify-content: center;
    min-height: 100vh;
	min-width: 100wh;
	background-image: url(../img/estrellas.jpg);/*++++*/
	/*align-items: center;*/
	
}

.container{
	display: flex;
	flex-direction: row;/**+++*/
	justify-content: center;

	align-items: center; /*alineacion vertical*/
	text-align: center;
	width: 100%;
	/*max-height: 200%;*/
	background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(0.9px); /*transparencia*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    color: #FFF;
    border-radius: 10px;
    padding-left: 2%;
	padding-right: 2%;
	margin-top: 10%;
	margin-bottom:10%;
	margin-left: 30%;
    margin-right: 30%;
	
}

#loginForm{
	/*position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;*/
	height: 60%;
	width: 70%;
	/*background-color: #42e599;*/
		
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.container .input-box{
    /*position: relative; *//*----*/
    width: 100%;
    height: 30px;
    margin: 40px 0;
	/*justify-content: center;*/
    /*background-color: aqua;*/
}

.input-box{
	display: flex;
	align-items: center;
    justify-content: flex-start;
    color: #FFF;
	/*justify-content: start;*/
	/*background-color: aqua;*/
}

.input-box i {
	transform: translateX(-50%);
    font-size: 22px;

}

.input-box input{
	display: flex;
	align-items: center;
	justify-content:start ;

    width: 100%;
    height: 80%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #FFF;
    padding: 20px 4px 20px 20px;
}


.remember-forgot{
	display: flex;
    flex-direction: row;
	/*background-color: red;*/
	width: 150%;
    
    
}

.container .remember-forgot{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    /*margin: auto;
    width: auto;
    min-width: 140%;
    margin-top: 10%;*/
    
    
    margin-bottom: 10%;
    margin-left: -25%;
    margin-right: 90%;
	background: transparent;
    /*background-color: beige;*/
}

.remember-forgot input{
    accent-color: #FFF;
    margin-right: 3px;
	/*background-color: aqua;*/

}
.remember-forgot a{
    color: #FFF;
    text-decoration: none;
	/*background-color: blue;*/
}

.remember-forgot a:hover{
    text-decoration: underline;
    /*background-color: blue;*/
}

.bt{
    display: flex;

}

.btn{
/*.container .btn{*/
    display: flex;
    flex-direction: row;
    align-items: center;
    /*text-align: center;*/
    width: 62%;
    height: 80%;
    margin: auto;
    padding: 2% 20% 2% 20%;
   
    background: #FFF;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    /*background-color: blue;*/

}
.container .register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
	width: 100%;
    margin-top: 12%;
	/*background-color: aquamarine;*/
}

.register-link p a{
	
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    /*background-color: blue;*/
}
.register-link p a:hover{
    text-decoration: underline;
}



/*---------------------------*/
/*---------------------------*/
/*---------------------------*/

@media (min-device-width: 1025px) and (max-device-width: 1200px){
    .container{
        width: 150%;
        margin-top: 21%;
        margin-bottom: 21%;
        margin-left: 23%;
        margin-right: 23%
        
    }
    #loginForm{
        /*height: 50%;*/
        width: 85%;
        /*background-color: blue;*/
    }

}
@media (min-device-width: 769px) and (max-device-width: 1024px){
    .container{
        width: 150%;
        margin-top: 23%;
        margin-bottom: 23%;
        margin-left: 20%;
        margin-right: 20%;
    }
    #loginForm{
        /*height: 50%;*/
        width: 85%;
    }
}

@media (min-device-width: 481px) and (max-device-width: 768px){
    .container{
        width: 150%;
        margin-top: 35%;
        margin-bottom: 35%;
        margin-left: 15%;
        margin-right: 15%;
    }
    #loginForm{
        /*height: 50%;*/
        width: 85%;
    }
}

@media (min-device-width: 320px) and (max-device-width: 480px){
    .container{
        width: 150%;
        margin-top: 18%;
        margin-bottom: 18%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #loginForm{
        /*height: 50%;*/
        width: 85%;
    }
}

/*
/*si el tamaño es menor*//*
@media (min-width:640px) and (max-width: 767px)  {
    header{
		
	}*/
/*menor a 320 cambia*//*
@media screen and (max-width: 320px){
    .container{
        width: 160%;
        margin-left: 1%;
        margin-right: 1%;
    }
    
    #loginForm {
       
        margin-right: 28%;/*mueve a la izq*/
       /*
    }

    
    .container .input-box{
        margin-left: -20%;
    }

}

    /*--------------*/
    /*
@media screen and (max-width: 480px){
	
    .container{
        width: 170%;
        
        margin-left: 1%;
        margin-right: 1%;
	}
    #loginForm{
        
        width: 80%;
        height: 80%;
        margin-left: 3%; /*mueve izq*//*
    }
    .container h1{
        font-size: 30px;
    }
    .container .input-box{
        
        width: 190%; 
        
        margin-right: 30%;

    }
    .input-box {
      
        margin-right: -5%;
        width:170% ;
    }
    input{
        margin-right: 1%;
        background-color: brown;
    }
    
    .remember-forgot a{
        text-decoration: none;
    }
    .remember-forgot a :hover{
        text-decoration: underline;
    }
    .btn{
        cursor: pointer;
    }
		
}*/ /*

@media screen and (max-width: 768px){
    .container{
        /*background-color: red;*//*
        margin-left: 15%;
        margin-right: 15%;
    }
    #loginForm{
        height: 75% ;
    }
    .container h1{
        font-size: 32px;
    }
    .container .input-box{
        /*background-color: blue;*//*
        width: 220px;
        margin-left: -12%;
    }
    .input-box input{
        display: flex;
        align-items: center;
        justify-content: start;
        /*background-color: aqua;*//*
        padding: 20px;
    }
    .input-box i{
        transform: translateX(-10%);
        font-size: 10px;
    }

}
*/