@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap');
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    background-color: #F3F5FC;
    font-family: "inter", sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 32px;
}


/*CAJA GENERAL*/
.container{
    /*aseguramos que todo quede centrado*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    height: 86vh;
    position: relative; /*relative*******/
    background: #F3F5FC;
    /*explicacion position*/
    /*https://www.youtube.com/watch?v=lSfKpltbvJs&t=325s*/
    /*posicionar un texto dentro de una caja*/
    /*position:relative; =posicion natural* top left right/
    /*position:absolute; =posicion */
        
}
/*CAJA LOGO*/
header{
    display: flex;
    justify-content: center;
    position: absolute;
    /*align-items: center;*/
    top: 4%;
    width: 6%;
    height: 10%;
    left: 7%;
    /*background-color: red;*/
}
/*IMAGEN LOGO*/
.caja-logo .logo{
    position: absolute;
    width: 70%;
    height: 75%;
    top: 9%;
    padding: 0%;
        
}


/*ESCRIBE EL TEXTO*/
.texto{
    position: absolute;
    width: 39%;
    height: 63%;
    left: 11%;
    top: 14%;
    cursor: pointer;
    color: #495057;
    border: none;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    background-color: #F3F5FC;
    /*background-color: #0909dc;*/
    
}

.texto::placeholder{
    color: #0A3871;
}
/*sin borde y con linea titilando*/
.texto:focus, 
.texto:active{
    outline: none;
    border: none;
   
}
/*caja del admiracion y texto*/
.informacion {
    /*background: red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute; /*se posiciona*/
    padding: 0px;
    top: 81%;
    left: 11%;
    font-family: "inter", sans-serif;
    font-size: 16px;
    color: #495057;
    gap: 5px;
    width: 39%; 
                                                                                                                                                                                                  
}

.informacion, p{
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
}

.botones{
    /*background: pink;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*align-items: self-start;*/
    padding: 1% 0;
    position: absolute;
    width: 86%;
    left: 11%;
    top: 87%;
    
    
    
}

.btn-encriptar{
    height: 55px;
    font-family: "inte", sans-serif;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 21%; /*ancho*/
    text-align: center;
    background-color: #0A3371;
    padding: 1%; /*espacioninterno*/
    color: #FFF;
    border: 1px solid #FFF;
    /*gap: 5%;*/
    align-items: center;
    /*justify-content: center;  */
    line-height: 19px; /*ancho de linea*/
       
}

.btn-desencriptar{
    /*display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;*/
    height: 55px;
    font-family: "inte", sans-serif;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 21%;
    text-align: center;
    background-color: #D8DFE8;
    padding: 1%;
    color: #0A3371;
    border: 1px solid #0A3871;
    /*margin-left: 6%;*/
    /*gap: 8px;*/
    line-height: 19px; /*ancho de linea*/
    
}
.btn-logout{   
    height: 55px;
    font-family: "inte", sans-serif;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 21%;
    text-align: center;
    background-color: #0A3371;
    padding: 2%;
    color: #FFF;
    border: 1px solid #FFF;
    /*margin-left: 75px;*/
    line-height: 19px;
}
/*HOVER BTN*/

.btn-encriptar:hover,
.btn-logout:hover
{
    background: #2508df;
    
}

.btn-desencriptar:hover

{
    background: #2508df;
    color: #FFF;
}

/*caja encriptado*/
.encriptado{
    
    display: flex;
    justify-content: center;
    position: absolute;
    width: 42%; /*ancho de la caja*/
    height: 69%;
    left: 54%;
    
    /*max-width: 1000px;*/
    /*min-width: 6200px;*/
    top: 11%;/*alto y abajo a un*/
    /*background-color: coral;*/
    /*background: #FFF;*/
    box-shadow: 0px 20px 30px -5px rgb(0, 0, 0, 0.8);/*sombra, transparencia*/
    border-radius: 32px;
}


/*DIMENSIONNDO LA IMAGEN MUÑECO*/
.encriptado img{
    position: absolute;
    width: 80%;
    height: 61%;
    top: 5%;
}
/*MENSAJE*/
.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    /*gap: 16px;*/
    position: absolute;
    /*background: purple;/*
    width: 70%; /*ancho caja mensaje*/
    height: 45%; /*alto caja mensaje*/
    top: 50%;
}
.mensaje-encriptado h2{
    /*background-color: green;*/
    width: 72%;
    font-family: "inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #0A3871;
    margin-top: 25px;
}
.mensaje-encriptado p{
    /*background-color: #0909dc;*/
    width: 80%;
    font-family: "inter", sans-serif;
    /*font-style: normal;*/
    font-weight: 400;
    font-size: 20px;
    /*line-height: 140%; *//*parrafo baja*/
    text-align: center;
    color: #0A3871;
    margin-top: 20px;
}

footer{
    color: #0909dc;
    text-align: center;
    font-family: "inter", sans-serif;
    font-size: 12px;
    margin-top: 3%;
}

/*--------------RESPONSIVE---------------------*/
/* - - - - - - - - - - - - - - - - - - - - - */

/*si el tamaño es mayor de 800px
@media (min-width: 800px){}

/*si el tamaño es menor de 1200px
@media (max-width: 1200px){}

/*si el tamaño esta entre 320px y 768px horientacion horizontal
@media (min-width: 320px) and (max-width: 768px) and (orientation: landscape) {}


*/
/*si el tamaño es menor a 770*/




/*si el tamaño es menor*/
@media (min-width:640px) and (max-width: 767px)  {
    header{
        /*background-color: green;*/
        width: 5%;
        height: 6%;
        left: 5%;

    }
    .texto{
        font-size: 24px;
        background-color: #F3F5FC;
        height: 70%;
        width: 40%;
        padding: 1%;
        /*background-color: #0909dc;*/
        
    }
    .informacion{
        margin-top: 6%;
    }

    .botones{
        /*background: pink;*/
        /*display: flex;
        flex-direction: row;*/
        justify-content: space-around;
        /*align-items: self-start;*/
        padding: 1% 0;
        /*position: absolute;*/
        width: 85%;
        left: 11%;
        top: 92%;
        
        
        
    }
    .btn-encriptar{

        height: 50px;
        font-size: 14px;
        width: 21%;
    }
    .btn-desencriptar{
        /*display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;*/
        height: 50px;
        /*font-family: "inte", sans-serif;*/
        /*border-radius: 22px;*/
        font-size: 14px;
        /*font-weight: 400;*/
        width: 21%;
        /*text-align: center;*/
        /*background-color: #D8DFE8;*/
        /*padding: 1%;*/
        /*color: #0A3371;*/
        /*border: 1px solid #0A3871;*/
        /*margin-left: 6%;*/
        /*gap: 8px;*/
        /*line-height: 19px;*/ /*ancho de linea*/
        
    }
    .btn-logout{

        height: 50px;
        font-size: 14px;
        width: 21%;
    }
    .encriptado{
        height: 75%;
        
    }

    .encriptado img{
        height: 57%;
        top: 8%;
        width: 90%;
    }
}
    /*-------------------------------------*/

    @media (min-device-width: 355px) and (max-device-width: 639px) {
        header{
            width: 3%;
            height: 4%;
            left: 2%;
            /*background-color: purple;*/
        }

        .texto{
            height: 50%;
            /*background-color: aqua;*/
            height: 70%;
            font-size: 20px;
            padding: 1%;
        }
        .informacion{
            margin-top: 7%;
            /*background-color: #0909dc;*/
            width: 84%;
        }
        .botones{
            margin-top: 8%;
            
        }
        .btn-desencriptar{
            width: 25%;
            
        }
        .encriptado{
            height: 73%;
            margin-top: 1.5%;
        }
        .encriptado img{
            height: 50%;
            margin-top: 9%;
            width: 89%;
        }
        .mensaje-encriptado h2{
            font-size: 18px;
            margin-top: 26%;
        }
        .mensaje-encriptado p{
            font-size: 18px;
            margin-top: 20px;
        }
        footer{
            margin-top: 8%;

        }
        

    }

/*MEDIA 
1px = 0.0625em  10px = 0.625em
1px = 0.0625rem  10px = 0.625rem
calculo basado en un root font-size 16px
*/
/*
<"picture">
	"(min-width: 1300px)"srcset="./img/big.jpg" > (pantallas grandes)
    "(min-width: 1024px)"srcset="./img/medium.jpg"> (pantallas medianas)
    "./img/small.jpg"alt="Palacio de bellas artes"> (pantalla pequena o default)
picture>*/



/*@media (max-width: 480px){*/
/*RESPONSIVE*
Móvil medio: 375 x 667 px. 
Smartphone grande: 720 x 1280 px. 
Ordenador portátil medio: 1366 x 768 px. 
Ordenador de escritorio medio: 1440 x 900 px
*/